<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @alert.user.first_name %>,
    <br>
    Your target price has been hit.
    <p>Please login & check </p>
  </body>
</html>